<!DOCTYPE html>
<html>
<head>
	<script rel="stylesheet" src="/styles.css"></script>
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <meta charset="utf-8">
  <title>ChatApp</title>
</head>
<body>

<script src="/js/client_main.js"></script>
</body>
</html>


